.container {
  height: 732px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img_section {
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  width: 420px;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_section h1 {
  font-family: "Cooper Black";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.container img {
  margin: auto;
  width: 420px;
  height: 420px;
}

.red_dot {
  position: absolute;
  right: 60px;
  bottom: 0px;
  height: 93px;
  width: 93px;
  border-radius: 50%;
}

.content h5 {
  font-family: "Neue Haas Grotesk Text Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 177.4%;
  color: #000000;
}

@media screen and (max-width: 1600px) {
  .red_dot {
    right: 40px;
    bottom: 0px;
    height: 73px;
    width: 73px;
  }
  .container {
    height: 502px;
  }
  .container img,
  .img_section {
    width: 330px;
    height: 330px;
  }
  .img_section h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    height: 532px;
  }
  .container img,
  .img_section {
    margin: auto;
    width: 320px;
    height: 320px;
  }
  .red_dot {
    right: 40px;
    bottom: 0px;
    height: 73px;
    width: 73px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    height: 442px;
  }
  .container img,
  .img_section {
    margin: auto;
    width: 260px;
    height: 260px;
  }
  .red_dot {
    right: 40px;
    bottom: 0px;
    height: 48px;
    width: 48px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    height: 442px;
  }
  .container img,
  .img_section {
    margin: auto;
    width: 260px;
    height: 260px;
  }
  .red_dot {
    right: 40px;
    bottom: 0px;
    height: 48px;
    width: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    height: 502px;
  }
  .container img,
  .img_section {
    margin: auto;
    width: 320px;
    height: 320px;
  }
  .red_dot {
    right: 40px;
    bottom: 0px;
    height: 63px;
    width: 63px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    height: 442px;
  }
  .container img,
  .img_section {
    margin: auto;
    width: 280px;
    height: 280px;
  }
  .red_dot {
    right: 40px;
    bottom: 0px;
    height: 53px;
    width: 53px;
  }
}

@media screen and (max-width: 762px) {
  .container {
    height: 442px;
  }
  .container img,
  .img_section {
    margin: auto;
    width: 280px;
    height: 280px;
  }
  .red_dot {
    right: 40px;
    bottom: 0px;
    height: 53px;
    width: 53px;
  }
  .img_section h1 {
    font-size: 45px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    height: 380px;
  }
  .container img,
  .img_section {
    margin: auto;
    width: 220px;
    height: 220px;
  }
  .red_dot {
    right: 25px;
    bottom: 0px;
    height: 45px;
    width: 45px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    height: 330px;
  }
  .container img,
  .img_section {
    margin: auto;
    width: 190px;
    height: 190px;
  }
  .red_dot {
    right: 30px;
    bottom: 0px;
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 380px) {
  .container {
    height: 352px;
  }
  .container img,
  .img_section {
    margin: auto;
    width: 200px;
    height: 200px;
  }
  .red_dot {
    right: 40px;
    bottom: 0px;
    height: 43px;
    width: 43px;
  }
}
