.bg_img {
  background-image: url("https://res.cloudinary.com/dq4fvmcte/image/upload/v1649070252/Madison%20Brown/contact_frame_m2qohu.png");
  height: 90vh;
  width: 100%;
  background-size: 100% 100%;
}

.form_Section {
  margin-top: 150px;
  margin-left: -22%;
}

.form_value {
  display: flex;
  flex-direction: column;
}

.form_Section h3 {
  font-family: "Cooper Black";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 20px;
  color: #222222;
}

.form_value {
  width: 427px;
}

.form_Section input {
  height: 51px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
}

.form_Section textarea {
  height: 165px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 35px;
  padding: 10px 20px;
}

.form_Section button {
  width: 171px;
  height: 51px;
  border-radius: 9px;
  font-family: "Cooper Black";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  transform: skewX(-10deg);
  text-align: center;
  color: #524436;
  background: #efdfb4;
  box-shadow: 5px 5px #524436;
}

.form_Section button:hover {
  color: #efdfb4;
  background: #524436;
  box-shadow: 5px 5px #efdfb4;
}

.content_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 9%;
}

.detail_section {
  padding: 70px;
  background: #efdfb4;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 10px #000000;
}

.detail_section h3 {
  font-family: "Cooper Black";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 30px;
  color: #222222;
}
.detail_section div {
  margin-bottom: 40px;
}
.detail_section img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.detail_section a {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  text-decoration: none;
  color: #000000;
}

.detail_section p {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #000000;
  margin: 0;
}

@media screen and (max-width: 1300px) {
  .bg_img {
    height: 75vh;
  }

  .form_value {
    width: 260px;
  }
  .form_Section h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .form_Section input {
    height: 29px;
    margin-bottom: 15px;
  }
  .form_Section textarea {
    height: 136px;
    margin-bottom: 35px;
    padding: 10px 20px;
  }
  .form_Section {
    margin-top: 100px;
    margin-left: -11%;
  }

  .form_Section button {
    width: 171px;
    height: 50px;
    font-size: 25px;
  }

  .detail_section {
    padding: 40px;
    height: auto;
  }

  .detail_section h3 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .detail_section div {
    margin-bottom: 15px;
  }
  .detail_section img {
    width: 33px;
    height: 33px;
    margin-right: 20px;
  }

  .detail_section a {
    font-size: 25px;
  }

  .detail_section p {
    font-size: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .bg_img {
    height: 75vh;
  }

  .form_value {
    width: 260px;
  }
  .form_Section h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .form_Section input {
    height: 29px;
    margin-bottom: 15px;
  }
  .form_Section textarea {
    height: 136px;
    margin-bottom: 35px;
    padding: 10px 20px;
  }
  .form_Section {
    margin-top: 100px;
    margin-left: -25%;
  }

  .form_Section button {
    width: 171px;
    height: 50px;
    font-size: 25px;
  }

  .detail_section {
    padding: 40px;
    width: 420px;
    height: auto;
  }

  .detail_section h3 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .detail_section div {
    margin-bottom: 15px;
  }
  .detail_section img {
    width: 33px;
    height: 33px;
    margin-right: 20px;
  }

  .detail_section a {
    font-size: 25px;
  }

  .detail_section p {
    font-size: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .bg_img {
    height: 75vh;
  }

  .form_value {
    width: 260px;
  }
  .form_Section h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .form_Section input {
    height: 29px;
    margin-bottom: 15px;
  }
  .form_Section textarea {
    height: 136px;
    margin-bottom: 35px;
    padding: 10px 20px;
  }
  .form_Section {
    margin-top: 100px;
    margin-left: -11%;
  }

  .form_Section button {
    width: 171px;
    height: 50px;
    font-size: 25px;
  }

  .detail_section h3 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .detail_section div {
    margin-bottom: 15px;
  }
  .detail_section img {
    width: 33px;
    height: 33px;
    margin-right: 20px;
  }

  .detail_section a {
    font-size: 25px;
  }

  .detail_section p {
    font-size: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .bg_img {
    height: 75vh;
  }

  .form_value {
    width: 260px;
  }
  .form_Section h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .form_Section input {
    height: 29px;
    margin-bottom: 15px;
  }
  .form_Section textarea {
    height: 136px;
    margin-bottom: 35px;
    padding: 10px 20px;
  }
  .form_Section {
    margin-top: 100px;
    margin-left: -15px;
  }

  .form_Section button {
    width: 171px;
    height: 50px;
    font-size: 25px;
  }

  .detail_section h3 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .detail_section div {
    margin-bottom: 15px;
  }
  .detail_section img {
    width: 33px;
    height: 33px;
    margin-right: 20px;
  }

  .detail_section a {
    font-size: 25px;
  }

  .detail_section p {
    font-size: 25px;
  }
}

@media screen and (max-width: 991px) {
  .bg_img {
    height: 150vh;
    background-image: url("https://res.cloudinary.com/dq4fvmcte/image/upload/v1649144813/Madison%20Brown/contact_mobile_frame_wioxof.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .form_value {
    width: 600px;
  }
  .form_Section h3 {
    font-size: 40px;
    margin-bottom: 35px;
  }
  .form_Section input {
    height: 59px;
    margin-bottom: 30px;
  }
  .form_Section textarea {
    height: 166px;
    margin-bottom: 35px;
    padding: 10px 20px;
  }
  .form_Section {
    margin-top: 60px;
  }

  .form_Section button {
    width: 171px;
    height: 50px;
    font-size: 25px;
  }

  .detail_section {
    margin-top: 40px;
    padding: 40px;
    width: 600px;
    height: auto;
  }

  .detail_section h3 {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .detail_section div {
    margin-bottom: 25px;
  }
  .detail_section img {
    width: 33px;
    height: 33px;
    margin-right: 23px;
  }

  .detail_section a {
    font-size: 30px;
  }

  .detail_section p {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .bg_img {
    height: 130vh;
  }

  .form_value {
    width: 500px;
  }
  .form_Section h3 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .form_Section input {
    height: 49px;
    margin-bottom: 30px;
  }
  .form_Section textarea {
    height: 126px;
    margin-bottom: 35px;
    padding: 10px 20px;
  }
  .form_Section {
    margin-top: 45px;
  }

  .form_Section button {
    width: 171px;
    height: 50px;
    font-size: 25px;
  }

  .detail_section h3 {
    font-size: 25px;
    margin-bottom: 35px;
  }
  .detail_section div {
    margin-bottom: 30px;
  }
  .detail_section img {
    width: 33px;
    height: 33px;
    margin-right: 23px;
  }

  .detail_section a {
    font-size: 25px;
  }

  .detail_section p {
    font-size: 25px;
  }
}

@media screen and (max-width: 800px) {
  .bg_img {
    height: 125vh;
  }

  .form_value {
    width: 500px;
  }
  .form_Section h3 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .form_Section input {
    height: 49px;
    margin-bottom: 30px;
  }
  .form_Section textarea {
    height: 126px;
    margin-bottom: 35px;
    padding: 10px 20px;
  }
  .form_Section {
    margin-top: 45px;
  }

  .form_Section button {
    width: 171px;
    height: 50px;
    font-size: 25px;
  }
  .detail_section {
    margin-top: 15px;
    padding: 40px;
    width: 500px;
    height: auto;
  }

  .detail_section h3 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .detail_section div {
    margin-bottom: 25px;
  }
  .detail_section img {
    width: 28px;
    height: 28px;
    margin-right: 18px;
  }

  .detail_section a {
    font-size: 22px;
  }

  .detail_section p {
    font-size: 22px;
  }
}

@media screen and (max-width: 700px) {
  .bg_img {
    height: 110vh;
  }

  .form_value {
    width: 420px;
  }
  .form_Section h3 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .form_Section input {
    height: 39px;
    margin-bottom: 25px;
  }
  .form_Section textarea {
    height: 96px;
    margin-bottom: 30px;
    padding: 10px 20px;
  }
  .form_Section {
    margin-top: 45px;
  }

  .form_Section button {
    width: 151px;
    height: 44px;
    font-size: 17px;
  }

  .detail_section h3 {
    font-size: 25px;
    margin-bottom: 35px;
  }
  .detail_section div {
    margin-bottom: 30px;
  }
  .detail_section img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .detail_section a {
    font-size: 20px;
  }

  .detail_section p {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .bg_img {
    height: 100vh;
  }

  .form_Section {
    margin-top: 45px;
  }

  .form_Section h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .form_value {
    width: 350px;
  }

  .form_Section input {
    height: 39px;
    margin-bottom: 20px;
  }

  .form_Section textarea {
    height: 96px;
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  .form_Section button {
    width: 151px;
    height: 44px;
    font-size: 17px;
  }
  .detail_section {
    padding: 40px;
    width: 400px;
    height: auto;
  }

  .detail_section h3 {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .detail_section div {
    margin-bottom: 25px;
  }
  .detail_section img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .detail_section a {
    font-size: 18px;
  }

  .detail_section p {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .bg_img {
    height: 92vh;
  }

  .form_Section {
    margin-top: 45px;
  }

  .form_Section h3 {
    font-size: 17px;
  }

  .form_value {
    width: 247px;
  }

  .form_Section input {
    height: 39px;
    margin-bottom: 15px;
  }

  .form_Section textarea {
    height: 96px;
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  .form_Section button {
    width: 151px;
    height: 44px;
    font-size: 17px;
  }
  .detail_section {
    width: 300px;
    height: auto;
  }

  .detail_section h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .detail_section div {
    margin-bottom: 10px;
  }
  .detail_section img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }

  .detail_section a {
    font-size: 18px;
  }

  .detail_section p {
    font-size: 17px;
  }
}

@media screen and (max-width: 450px) {
  .bg_img {
    height: 85vh;
  }

  .form_Section {
    margin-top: 45px;
  }

  .form_Section h3 {
    font-size: 17px;
  }

  .form_value {
    width: 247px;
  }

  .form_Section input {
    height: 39px;
    margin-bottom: 10px;
  }

  .form_Section textarea {
    height: 96px;
    margin-bottom: 15px;
    padding: 10px 20px;
  }

  .form_Section button {
    width: 151px;
    height: 44px;
    font-size: 17px;
    box-shadow: 5px 5px #524436;
  }
  .detail_section {
    margin-top: -10px;
    height: auto;
  }

  .detail_section div {
    margin-bottom: 15px;
  }
  .detail_section h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .detail_section img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }

  .detail_section a {
    font-size: 18px;
  }

  .detail_section p {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .bg_img {
    height: 85vh;
  }

  .form_Section {
    margin-top: 45px;
  }

  .form_Section h3 {
    font-size: 17px;
  }

  .form_value {
    width: 247px;
  }

  .form_Section input {
    height: 39px;
    margin-bottom: 10px;
  }

  .form_Section textarea {
    height: 96px;
    margin-bottom: 15px;
    padding: 10px 20px;
  }

  .form_Section button {
    width: 151px;
    height: 44px;
    font-size: 17px;
  }

  .detail_section {
    margin-top: 0px;
    height: auto;
  }
  .detail_section div {
    margin-bottom: 12px;
  }
  .detail_section h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .detail_section img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }

  .detail_section a {
    font-size: 18px;
  }

  .detail_section p {
    font-size: 15px;
  }
}
