* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #fff;
}

body {
  display: flex;
}
.bg_gif {
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  border-image: url("../static/Houndstooth_Desktop.gif") 30 fill;
  border-image-width: 30px;
  border-image-outset: 5px;
}

.input-group input {
  width: 181.88px;
  height: 43px;
  background: rgba(221, 218, 221, 0.5);
  border: 2px solid #8ecadc;
  box-sizing: border-box;
  border-radius: 25px 0px 0px 25px;
}

.input-group button {
  width: 109.12px;
  height: 43px;
  background: #8ecadc;
  border: 2px solid #8ecadc;
  box-sizing: border-box;
  border-radius: 0px 25px 25px 0px;
}
