.lg_navbar {
  padding: 0 40px !important;
  height: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4298b5;
}

.lg_navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.slide_nav .mobile_nav_logo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 2rem;
}
.slide_nav .mobile_nav_logo img {
  width: 125px !important;
  height: 60px !important;
}
.mobile_nav ul {
  list-style: none;
}
.page_link a {
  font-family: "Cooper Black";
  text-decoration: none;
  margin: 0 25px;
  color: #efdfb4;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 31px;
  text-transform: uppercase;
  text-shadow: 3px 3px #4e3524;
}

.page_link a:hover {
  color: #634532;
  text-shadow: 3px 3px #efdfb4;
}

.mobile_nav ul li {
  margin: 20px 0;
}
.mobile_nav ul a {
  font-size: 25px;
}

.mobile_nav {
  display: none;
}

.slide_nav {
  width: 90%;
  background: linear-gradient(
    0deg,
    rgb(66, 152, 181, 0.9),
    rgb(66, 152, 181, 0.9)
  );
  background-repeat: no-repeat;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 0px 25px 25px 0px;
  position: fixed;
  height: 100%;
  z-index: 99999;
  top: 0;
  left: -100%;
  transition: 0.3s;
}

.icon_section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 5%;
}

.slide_nav.active {
  left: 0;
}

@media screen and (max-width: 1600px) {
  .lg_navbar ul a {
    font-size: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .lg_navbar ul a {
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {
  .lg_navbar {
    display: none;
  }

  .mobile_nav {
    width: 100%;
    display: block;
    height: 135px;
    display: flex;
    align-items: center;
    background-color: #4298b5;
  }

  .mobile_nav_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
  }

  .fa_times {
    cursor: pointer;
    position: absolute;
    color: #efdfb4;
    filter: drop-shadow(-6px 10px 15px rgba(0, 0, 0, 0.25));
    top: 5%;
    right: 5%;
  }
}
@media screen and (max-width: 913px) and (height: 1368px) {
  .mobile_nav_logo {
    width: 82%;
  }
  .mobile_nav_logo img {
    width: 145px !important;
    height: 60px !important;
  }
}

@media screen and (max-width: 821px) and (height: 1180px) {
  .mobile_nav_logo {
    width: 82%;
  }
  .mobile_nav_logo img {
    width: 145px !important;
    height: 60px !important;
  }
}

@media screen and (max-width: 769px) and (height: 1024px) {
  .mobile_nav_logo {
    width: 82%;
  }
  .mobile_nav_logo img {
    width: 145px !important;
    height: 60px !important;
  }
}

@media screen and (max-width: 480px) {
  .mobile_nav_logo img {
    width: 145px !important;
    height: 60px !important;
  }
}

@media screen and (max-width: 400px) {
  .mobile_nav_logo img {
    width: 145px !important;
    height: 60px !important;
  }
}
