.bg_img {
  background-image: url("https://res.cloudinary.com/dq4fvmcte/image/upload/v1647597877/Madison%20Brown/blue_sqaure_img_rhjdxs.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

.bg_color {
  margin: 73px 0;
  background-color: #efdfb4;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg_color img {
  width: 620px;
  height: 620px;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 130px;
  background-color: #98bfcb;
}

.content h2 {
  font-family: "Cooper Black";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 69px;
  color: #efdfb4;
  text-shadow: 5px 5px #000000;
}

.content p {
  font-family: "Neue Haas Grotesk Text Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #ffffff;
  max-width: 573px;
}

.btn {
  border-radius: 9px;
  text-transform: uppercase;
  font-family: "Cooper Black";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  width: 242px;
  height: 70px;
  color: #4298b5;
  transform: skewX(-10deg);
  background: #efdfb4;
  border: 1px solid #efdfb4;
  box-shadow: 5px 5px #4298b5;
}

.btn:hover {
  color: #efdfb4;
  background: #4298b5;
  border: 1px solid #4298b5;
  box-shadow: 5px 5px #efdfb4;
}

@media screen and (max-width: 1700px) {
  .content h2 {
    font-size: 55px;
  }
}

@media screen and (max-width: 1600px) {
  .content {
    padding: 90px;
  }
  .content h2 {
    font-size: 50px;
  }
  .content p {
    font-size: 18px;
    max-width: 523px;
  }
  .btn {
    width: 202px;
    height: 60px;
    font-size: 25px;
  }
  .bg_img {
    height: auto;
  }
  .bg_color {
    width: 300px;
    height: 300px;
  }
  .bg_color img {
    width: 370px;
    height: 370px;
  }
}

@media screen and (max-width: 1350px) {
  .content {
    padding: 70px;
  }
}

@media screen and (max-width: 1300px) {
  .content {
    padding: 60px;
  }
  .content h2 {
    font-size: 46px;
  }
  .content p {
    font-size: 18px;
  }
  .btn {
    width: 200px;
    height: 60px;
    font-size: 25px;
  }
  .bg_color {
    width: 300px;
    height: 300px;
  }
  .bg_color img {
    width: 370px;
    height: 370px;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    padding: 75px;
  }
  .content h2 {
    font-size: 40px;
  }
  .content p {
    max-width: 359px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1100px) {
  .content {
    padding: 55px;
  }
  .content h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 991px) {
  .content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
