.modal_window p {
  font-family: "Cooper Black";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 75%;
}
.modal_window,
.modal_window form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_window input[type="email"] {
  width: 379px !important;
  height: 49px;
  text-align: center;
}

.modal_window input::placeholder {
  text-align: center;
  font-size: 25px;
}

.fa_times {
  cursor: pointer;
  position: absolute;
  color: #efdfb4;
  filter: drop-shadow(-6px 10px 15px rgba(0, 0, 0, 0.25));
  top: 8%;
  right: 4%;
}

@media screen and (max-width: 991px) {
  .modal_window p {
    font-size: 27px;
  }
  .fa_times {
    top: 6%;
    right: 6%;
  }
}
@media screen and (max-width: 570px) {
  .modal_window p {
    font-size: 25px;
  }
  .modal_window input[type="email"] {
    width: 279px !important;
    height: 49px;
  }
}

@media screen and (max-width: 420px) {
  .modal_window p {
    font-size: 20px;
  }
  .modal_window input[type="email"] {
    width: 229px !important;
    height: 49px;
  }
}
