.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img_section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 584px;
  height: 584px;
}
.img_section img {
  width: 737px;
  height: 737px;
}

.content {
  text-align: center;
}

.content h5 {
  font-family: "Cooper Black";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  margin-top: 3%;
}

.content p {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  text-align: center;
  max-width: 400px;
}

.content button {
  width: 209px;
  font-family: "Neue Haas Grotesk Text Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 44px;
  color: #000000;
  transform: skewX(-10deg);
}

@media screen and (max-width: 1600px) {
  .img_section {
    width: 384px;
    height: 384px;
  }
  .img_section img {
    width: 457px;
    height: 457px;
  }
}

@media screen and (max-width: 1200px) {
  .img_section {
    width: 384px;
    height: 384px;
  }
  .img_section img {
    width: 457px;
    height: 457px;
  }
}
@media screen and (max-width: 1100px) {
  .img_section {
    width: 384px;
    height: 384px;
  }
  .img_section img {
    width: 457px;
    height: 457px;
  }
}

@media screen and (max-width: 992px) {
  .img_section {
    width: 384px;
    height: 384px;
  }
  .img_section img {
    width: 457px;
    height: 457px;
  }
}
@media screen and (max-width: 772px) {
  .img_section {
    width: 354px;
    height: 354px;
  }
  .img_section img {
    width: 437px;
    height: 437px;
  }
}

@media screen and (max-width: 450px) {
  .img_section {
    width: 284px;
    height: 284px;
  }
  .img_section img {
    width: 337px;
    height: 337px;
  }
}

@media screen and (max-width: 350px) {
  .img_section {
    width: 237px;
    height: 237px;
  }
  .img_section img {
    width: 287px;
    height: 287px;
  }
}
