.border_img {
  position: relative;
  width: 100%;
  height: max-content;
  border-image: url("../src/images/red_frame3D.png") 80 fill;
  border-image-width: 100px;
  background: linear-gradient(
    119.53deg,
    rgb(229, 31, 48, 0.1) 30.94%,
    rgb(255, 176, 191, 0.1) 101.12%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.all_items {
  margin-top: 10%;
}

.img_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_section div {
  background: #ffb0c0;
  border-radius: 50%;
  width: 470px;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_section img {
  width: 528px;
  height: 528px;
}

.content_section h1 {
  max-width: 65%;
  font-family: "Neue Haas Grotesk Text Pro";
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 110px;
  color: #000000;
}

.content_section button {
  color: #e41e2d;
  border: 1px solid #efdfb4;
  box-shadow: 8px 8px #e41e2d;
  background: #efdfb4;
  filter: drop-shadow(-6px 10px 15px rgba(0, 0, 0, 0.25));
  margin-top: 30px;
}

.content_section button:hover {
  color: #efdfb4;
  border: 1px solid #e41e2d;
  box-shadow: 8px 8px #efdfb4;
  background: #e41e2d;
  filter: drop-shadow(10px 15px 15px rgba(0, 0, 0, 0.25));
}

.title_section {
  margin: 100px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.title_section h1 {
  margin-bottom: 15%;
  max-width: 50%;
  font-family: "Cooper Black";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  color: #e41e2d;
}

.title_section ul {
  position: absolute;
  bottom: -12%;
  list-style: none;
  display: flex;
  padding: 0;
}

.product_list img {
  width: 300px;
  height: 300px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.btn button {
  color: #604a39;
  color: #604a39;
  border: 1px solid #efdfb4;
  box-shadow: 8px 8px #604a39;
  background: #efdfb4;
  filter: drop-shadow(-6px 10px 15px rgba(0, 0, 0, 0.25));
}

.btn button:hover {
  color: #efdfb4;
  border: 1px solid #efdfb4;
  box-shadow: 8px 8px #efdfb4;
  background: #604a39;
  filter: drop-shadow(10px 15px 15px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 1610px) {
  .product_list img {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 1500px) {
  .border_img {
    border-image: url("../src/images/red_frame3D.png") 10 fill;
    border-image-width: 5px;
  }
  .img_section div {
    width: 370px;
    height: 370px;
  }
  .img_section img {
    width: 418px;
    height: 418px;
  }
  .content_section h1 {
    font-size: 35px;
    line-height: 70px;
    max-width: 65%;
  }
  .title_section h1 {
    font-size: 45px;
  }
  .product_list img {
    width: 260px;
    height: 260px;
  }
}

@media screen and (max-width: 1300px) {
  .product_list img {
    width: 230px;
    height: 230px;
  }
}

@media screen and (max-width: 991px) {
  .border_img {
    height: max-content;
    width: 100%;
    border-image: url("../src/images/mob_red_frame_1.png") 60 fill;
    border-image-width: 100px;
    border-image-outset: 0px 0px;
    background: linear-gradient(
      119.53deg,
      rgb(229, 31, 48, 0.1) 30.94%,
      rgb(255, 176, 191, 0.1) 101.12%
    );
  }
  .all_items {
    margin-top: 20%;
  }
  .content_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .content_section h1 {
    text-align: center;
  }
  .title_section h1 {
    max-width: 65%;
  }
  .product_list img {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 750px) {
  .title_section h1 {
    max-width: 75%;
    font-size: 35px;
  }
  .title_section ul {
    bottom: -6%;
  }
  .product_list img {
    width: 140px;
    height: 140px;
  }
}

@media screen and (max-width: 550px) {
  .product_list img {
    width: 110px;
    height: 110px;
  }
}

@media screen and (max-width: 420px) {
  .img_section div {
    width: 270px;
    height: 270px;
  }
  .img_section img {
    width: 318px;
    height: 318px;
  }
  .content_section h1 {
    font-size: 30px;
  }
  .title_section h1 {
    max-width: 75%;
    font-size: 25px;
  }
  .btn {
    margin-top: 80px;
    margin-bottom: 50px;
  }
}
