.border_img {
  position: relative;
  width: 100%;
  border-image: url("../static/red_frame3D.png") 80 fill;
  border-image-width: 100px;
  background: linear-gradient(
    119.53deg,
    rgb(229, 31, 48, 0.1) 30.94%,
    rgb(255, 176, 191, 0.1) 101.12%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-height: 1080px) {
  .border_img {
    height: 170vh !important;
  }
}

.img_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_section div {
  background: #ffb0c0;
  border-radius: 50%;
  width: 570px;
  height: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_section img {
  width: 628px;
  height: 628px;
}

.content_section h1 {
  max-width: 65%;
  font-family: "Neue Haas Grotesk Text Pro";
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 110px;
  color: #000000;
}

.content_section button {
  color: #e41e2d;
  border: 1px solid #efdfb4;
  box-shadow: 8px 8px #e41e2d;
  background: #efdfb4;
  filter: drop-shadow(-6px 10px 15px rgba(0, 0, 0, 0.25));
  margin-top: 30px;
}

.content_section button:hover {
  color: #efdfb4;
  border: 1px solid #e41e2d;
  box-shadow: 8px 8px #efdfb4;
  background: #e41e2d;
  filter: drop-shadow(10px 15px 15px rgba(0, 0, 0, 0.25));
}

.title_section {
  margin: 150px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.title_section h1 {
  max-width: 50%;
  font-family: "Cooper Black";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  color: #e41e2d;
}

.title_section ul {
  position: absolute;
  bottom: -17%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 105px;
}

.product_list img {
  width: 400px;
  height: 400px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.btn button {
  color: #604a39;
  color: #604a39;
  border: 1px solid #efdfb4;
  box-shadow: 8px 8px #604a39;
  background: #efdfb4;
  filter: drop-shadow(-6px 10px 15px rgba(0, 0, 0, 0.25));
}

.btn button:hover {
  color: #efdfb4;
  border: 1px solid #efdfb4;
  box-shadow: 8px 8px #efdfb4;
  background: #604a39;
  filter: drop-shadow(10px 15px 15px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 1600px) {
  .border_img {
    /* height: 140vh; */
    border-image: url("../static/Mask_group.png") 60 fill;
    border-image-width: 60px;
  }

  .img_section div {
    width: 398px;
    height: 398px;
  }
  .img_section img {
    width: 458px;
    height: 458px;
  }
  .content_section h1 {
    font-size: 40px;
    line-height: 90px;
  }
  .title_section {
    margin-top: 90px;
  }
  .title_section ul {
    bottom: -22%;
  }
  .title_section h1 {
    font-size: 50px;
  }
  .product_list img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 1500px) {
  .border_img {
    /* height: 130vh; */
    border-image: url("../static/red_frame3D.png") 10 fill;
    border-image-width: 5px;
  }

  .img_section div {
    width: 370px;
    height: 370px;
  }
  .img_section img {
    width: 418px;
    height: 418px;
  }
  .content_section h1 {
    font-size: 35px;
    line-height: 70px;
    max-width: 65%;
  }
  .content_section button {
    margin-top: 15px;
  }
  .title_section {
    margin-top: 75px;
  }
  .title_section h1 {
    font-size: 45px;
  }
  .title_section ul {
    bottom: -22%;
  }
  .product_list img {
    width: 260px;
    height: 260px;
  }
}

@media screen and (max-width: 1400px) {
  .border_img {
    /* height: 130vh; */
    border-image: url("../static/red_frame3D.png") 10 fill;
    border-image-width: 5px;
  }
  .img_section div {
    width: 370px;
    height: 370px;
  }
  .img_section img {
    width: 418px;
    height: 418px;
  }
  .content_section h1 {
    font-size: 45px;
    line-height: 70px;
    max-width: 65%;
  }
  .content_section button {
    margin-top: 15px;
  }
  .title_section {
    margin-top: 75px;
  }
  .title_section h1 {
    font-size: 40px;
  }
  .title_section ul {
    bottom: -22%;
  }
  .product_list img {
    width: 260px;
    height: 260px;
  }
}

@media screen and (max-width: 1300px) {
  .border_img {
    /* height: 125vh; */
    border-image: url("../static/red_frame3D.png") 10 fill;
    border-image-width: 5px;
  }
  .img_section div {
    width: 350px;
    height: 350px;
  }
  .img_section img {
    width: 398px;
    height: 398px;
  }
  .content_section h1 {
    font-size: 40px;
    line-height: 70px;
    max-width: 80%;
  }
  .content_section button {
    margin-top: 25px;
  }
  .title_section {
    margin-top: 75px;
  }
  .title_section ul {
    bottom: -22%;
  }
  .product_list img {
    width: 240px;
    height: 240px;
  }
}

@media screen and (max-width: 1200px) {
  .border_img {
    /* height: 110vh; */
    border-image: url("../static/red_frame3D.png") 10 fill;
    border-image-width: 5px;
  }
  .img_section div {
    width: 330px;
    height: 330px;
  }
  .img_section img {
    width: 378px;
    height: 378px;
  }
  .content_section h1 {
    font-size: 30px;
    line-height: 70px;
    max-width: 80%;
  }
  .title_section {
    margin-top: 75px;
  }
  .title_section h1 {
    font-size: 35px;
  }
  .title_section ul {
    bottom: -22%;
  }
  .product_list img {
    width: 220px;
    height: 220px;
  }
}

@media screen and (max-width: 1100px) {
  .product_list img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 1050px) {
  .border_img {
    /* height: 125vh; */
    border-image: url("../static/red_frame3D.png") 10 fill;
    border-image-width: 5px;
  }
  .img_section div {
    width: 330px;
    height: 330px;
  }
  .img_section img {
    width: 378px;
    height: 378px;
  }
  .content_section h1 {
    font-size: 30px;
    line-height: 70px;
    max-width: 80%;
  }
  .title_section {
    margin-top: 75px;
  }
  .title_section ul {
    bottom: -22%;
  }
  .product_list img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 991px) {
  .border_img {
    /* height: 140vh; */
    width: 100%;
    border-image: url("../static/mob_red_frame_1.png") 60 fill;
    border-image-width: 100px;
    border-image-outset: 0px 0px;
    background: linear-gradient(
      119.53deg,
      rgb(229, 31, 48, 0.1) 30.94%,
      rgb(255, 176, 191, 0.1) 101.12%
    );
  }
  .content_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
  }
  .img_section div {
    width: 330px;
    height: 330px;
  }
  .img_section img {
    width: 378px;
    height: 378px;
  }
  .content_section h1 {
    font-size: 30px;
    max-width: 45%;
    line-height: 50px;
  }
  .content_section button {
    margin-top: 25px;
  }
  .title_section h1 {
    font-size: 40px;
    max-width: 80%;
  }
  .title_section ul {
    bottom: -17%;
  }
  .product_list img {
    width: 170px;
    height: 170px;
  }
}
@media screen and (max-width: 912px) and (height: 1368px) {
  .border_img {
    /* height: 85vh; */
  }
}
@media screen and (max-width: 850px) {
  .border_img {
    /* height: 85vh !important; */
    width: 100%;
    border-image: url("../static/mob_red_frame_1.png") 60 fill;
    border-image-width: 100px;
    border-image-outset: 0px 0px;
  }
  .img_section {
    margin-top: 80px;
  }
  .img_section div {
    width: 260px;
    height: 260px;
  }
  .img_section img {
    width: 298px;
    height: 298px;
  }
  .content_section {
    margin-top: 25px;
  }
  .content_section h1 {
    font-size: 33px;
    max-width: 75%;
    line-height: 50px;
  }
  .content_section button {
    margin-top: 20px;
  }
  .title_section h1 {
    max-width: 90%;
    font-size: 40px;
  }
  .title_section {
    margin: 50px 0 0 0;
  }
  .title_section ul {
    bottom: -19%;
  }
  .product_list img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 800px) {
  .border_img {
    /* height: 125vh; */
    width: 100%;
    border-image: url("../static/mob_red_frame_1.png") 60 fill;
    border-image-width: 100px;
    border-image-outset: 0px 0px;
  }
  .img_section {
    margin-top: 80px;
  }
  .img_section div {
    width: 260px;
    height: 260px;
  }
  .img_section img {
    width: 298px;
    height: 298px;
  }
  .content_section {
    margin-top: 25px;
  }
  .content_section h1 {
    font-size: 33px;
    width: 55%;
    line-height: 50px;
  }
  .content_section button {
    margin-top: 20px;
  }
  .title_section h1 {
    max-width: 90%;
    font-size: 40px;
  }
  .title_section {
    margin: 50px 0 0 0;
  }
  .title_section ul {
    bottom: -19%;
  }
  .product_list img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 769px) and (height: 1024px) {
  .border_img {
    /* height: 95vh; */
  }
}
@media screen and (max-width: 700px) {
  .border_img {
    /* height: 115vh; */
    border-image: url("../static/mob_red_frame_1.png") 60 fill;
    border-image-width: 100px;
  }
  .img_section {
    margin-top: 80px;
  }
  .img_section div {
    width: 240px;
    height: 240px;
  }
  .img_section img {
    width: 278px;
    height: 278px;
  }
  .content_section {
    margin-top: 25px;
  }
  .content_section h1 {
    font-size: 25px;
    max-width: 90%;
    line-height: 50px;
  }
  .title_section ul {
    bottom: -19%;
  }
  .title_section h1 {
    max-width: 85%;
    font-size: 30px;
  }
  .product_list img {
    width: 130px;
    height: 130px;
  }
  .btn {
    margin-top: 100px;
  }
}

@media screen and (max-width: 600px) {
  .border_img {
    /* height: 110vh; */
  }
  .content_section {
    margin-top: 25px;
  }
  .content_section h1 {
    font-size: 25px;
    width: 65%;
    line-height: 50px;
  }

  .title_section h1 {
    max-width: 90%;
    font-size: 28px;
  }

  .title_section ul {
    bottom: -18%;
  }
  .product_list img {
    width: 105px;
    height: 105px;
  }
}

@media screen and (max-width: 550px) and (max-height: 730px) {
  .border_img {
    /* height: 112vh; */
    border-image-width: 90px;
  }

  .content_section h1 {
    font-size: 22px;
    width: 70%;
    line-height: 50px;
  }

  .title_section h1 {
    max-width: 90%;
    font-size: 26px;
  }

  .title_section ul {
    bottom: -20%;
  }
  .product_list img {
    width: 105px;
    height: 105px;
  }
  .btn {
    margin-top: 100px;
  }
}

@media screen and (max-width: 500px) {
  .border_img {
    /* height: 105vh; */
    border-image-width: 90px;
  }

  .content_section h1 {
    font-size: 22px;
    width: 70%;
    line-height: 50px;
  }

  .title_section h1 {
    max-width: 90%;
    font-size: 26px;
  }

  .title_section ul {
    bottom: -18%;
  }
  .product_list img {
    width: 90px;
    height: 90px;
  }
  .btn {
    margin-top: 100px;
  }
}

@media screen and (max-width: 450px) {
  .border_img {
    /* height: 108vh; */
    border-image-width: 60px;
  }
  .title_section h1 {
    font-size: 23px;
  }
  .title_section ul {
    bottom: -16%;
  }
  .product_list img {
    width: 80px;
    height: 80px;
  }
  .btn {
    margin-top: 75px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 420px) {
  .border_img {
    /* height: 95vh; */
  }
  .title_section ul {
    bottom: -14.5%;
  }
}
@media screen and (max-width: 400px) {
  .border_img {
    /* height: 105vh; */
    border-image: url("../static/mob_red_frame_1.png") 60 fill;
    border-image-width: 60px;
  }

  .img_section {
    margin-top: 50px;
  }
  .img_section div {
    width: 200px;
    height: 200px;
  }
  .img_section img {
    width: 248px;
    height: 248px;
  }

  .content_section {
    margin-top: 30px;
  }
  .content_section h1 {
    font-size: 20px;
    width: 70%;
    line-height: 45px;
  }

  .content_section button {
    margin-top: 10px;
  }
  .title_section h1 {
    max-width: 90%;
    font-size: 20px;
  }
  .title_section {
    margin: 50px 0 0 0;
  }
  .title_section ul {
    bottom: -18%;
  }
  .product_list img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 394px) and (height: 851px) {
  .border_img {
    /* height: 100vh; */
  }
}

@media screen and (max-width: 380px) {
  .border_img {
    /* height: 130vh; */
  }
  .img_section div {
    width: 180px;
    height: 180px;
  }
  .img_section img {
    width: 228px;
    height: 228px;
  }

  .content_section h1 {
    font-size: 16px;
    width: 80%;
    line-height: 35px;
  }

  .content_section button {
    margin-top: 20px;
  }
  .title_section h1 {
    max-width: 85%;
    font-size: 20px;
  }

  .title_section ul {
    bottom: -20%;
  }
  .product_list img {
    width: 70px;
    height: 70px;
  }
  .btn {
    margin-top: 50px;
  }
}

@media screen and (max-width: 365px) {
  .border_img {
    /* height: 105vh; */
  }

  .img_section div {
    width: 200px;
    height: 200px;
  }
  .img_section img {
    width: 248px;
    height: 248px;
  }

  .content_section h1 {
    font-size: 18px;
    width: 70%;
    line-height: 45px;
  }

  .content_section button {
    margin-top: 20px;
  }
  .title_section h1 {
    max-width: 70%;
    font-size: 20px;
  }

  .title_section ul {
    bottom: -18%;
  }
  .product_list img {
    width: 70px;
    height: 70px;
  }
  .btn {
    margin-top: 100px;
  }
}
